header {
  text-align: center;
  height: 425px;
  padding: 10px;
  margin: 10px;
}

footer {
  text-align: center;
  height: 38px;
  padding: 10px;
  margin: 10px;
}

h1 {
  color: #444444;
  font-family: times, serif;
  font-size: 36px;
}

h2 {
  color: #444444;
  font-family: times, serif;
  font-size: 24px;
}

h3 {
  color: #444444;
  font: times, serif;
  font-size: 20px;
}

p {
  color: #444444;
  font: times, serif;
  font-size: 16px;
  padding: 10px;
  margin: 100px;
}

ol{
  text-align: center;
  margin: 100px;
}

.align-center {
  text-align: center;
  padding: 25px;
  margin: 25px;
}

.align-right {
  text-align: right;
}

.light-background {
  background-color: #aceeca;
}

.neutral-background {
  background-color: #fff0e0;
}
.image {
  width: 250px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}
